@charset "UTF-8";

/*
Paleta de Cores
verde: #49a09d
lilas: #5f2c82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: rgba(0, 0, 0, 0.667);
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;

}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(159, 0, 0, 0.901);
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/note.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}